.edit-form__close {
    width: 32px;
    height: 32px;
    position: absolute;
    background-image: url(../../../images/Close.svg);
    background-position: center;
    background-repeat: no-repeat;
    top: -40px;
    right: -40px;
    cursor: pointer;
    border:0;
    background-color: black;
}

.edit-form__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 650px) {
    .edit-form__close {
        width: 20px;
        height: 20px;
        right: 0;
        top: -36px;
    }
    
}