.profile__name {
    color: #FFFFFF;
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 336px;
}

@media screen and (max-width:910px) {
    .profile__name {
       
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }
}

@media screen and (max-width:650px) {
    .profile__name {
        max-width: 282px;
        width: 66%;
        margin-left: 46px;
    }
}