.elements__like {
    background-image: url(../../../images/like.svg);
    width: 22px;
    height: 19px;
    margin: 30px 0;
    cursor: pointer;
    margin-right: 20px;
    border: 0;
    background-color: white;
}

.elements__like:hover {
    opacity: 0.5;
}