.profile__info {
    margin: 0 0 0 30px;
    width: 60%;
    
}

@media screen and (max-width:910px) {
    .profile__info {
        width: 80%;
    }
}

@media screen and (max-width:650px) {
    .profile__info {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin:0 auto 0;
        justify-items: center;
    }
}