.profile__button {
    margin: 0 0 0 auto;
    width: 150px;
    height: 50px;
    border: #fff solid 2px;
    border-radius: 2px;
    background-image: url(../../../images/profile-plus.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: black;
    cursor: pointer;
}

.profile__button:hover {
    opacity: 0.6;
}

@media screen and (max-width:650px) {
    .profile__button {

       margin: 36px auto 0;
       width: 282px;
    }
}