.elements__element {
    display: flex;
    border: solid;
    border-radius: 10px;
    border-color: black;
    flex-direction: column;
    overflow: hidden;
}

@media screen and (max-width: 650px) {

    .elements__element {
        max-width: 282px;
        justify-self: center;    }
    
}